include CHANGELOG.md CONTRIBUTING.md SECURITY.md CODE_OF_CONDUCT.md SUPPORT.md
recursive-include docs *.md
recursive-include examples *.json *.yml *.py
recursive-include policies *.yml
recursive-include tests *.py
